Spring-rest-soap/src/main/resources/service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080/user"
                  targetNamespace="http://localhost:8080/user">
    <wsdl:types>
        <xs:schema xmlns="http://localhost:8080/user" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified" targetNamespace="http://localhost:8080/user">

            <!-- User element -->
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="surname" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tasks">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="task" type="Task"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <!-- Task element -->
            <xs:complexType name="Task">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="createdDate" type="xs:dateTime"/>
                    <xs:element name="deadline" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>


            <!-- User Requests | Response-->
            <!--get-->
            <xs:element name="GetUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="GetUserResponse">
                <xs:sequence>
                    <xs:element name="user" type="User"/>
                </xs:sequence>
            </xs:complexType>

            <!--create-->
            <xs:element name="CreateUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" type="User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>


            <!--delete-->
            <xs:element name="DeleteUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>


            <!-- Task Requests | Response-->
            <!--get-->
            <xs:element name="GetTaskRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="taskId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="GetTaskResponse">
                <xs:sequence>
                    <xs:element name="task" type="Task"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="GetAllTasksRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!--create -->
            <xs:element name="CreateTaskRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userId" type="xs:long"/>
                        <xs:element name="task" type="Task"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--delete-->
            <xs:element name="DeleteTaskRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userId" type="xs:long"/>
                        <xs:element name="taskId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="DeleteUserRequest">
        <wsdl:part element="tns:DeleteUserRequest" name="DeleteUserRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllTasksRequest">
        <wsdl:part element="tns:GetAllTasksRequest" name="GetAllTasksRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="CreateTaskRequest">
        <wsdl:part element="tns:CreateTaskRequest" name="CreateTaskRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetTaskRequest">
        <wsdl:part element="tns:GetTaskRequest" name="GetTaskRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetUserRequest">
        <wsdl:part element="tns:GetUserRequest" name="GetUserRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteTaskRequest">
        <wsdl:part element="tns:DeleteTaskRequest" name="DeleteTaskRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="CreateUserRequest">
        <wsdl:part element="tns:CreateUserRequest" name="CreateUserRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UserPort">
        <wsdl:operation name="DeleteUser">
            <wsdl:input message="tns:DeleteUserRequest" name="DeleteUserRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="GetAllTasks">
            <wsdl:input message="tns:GetAllTasksRequest" name="GetAllTasksRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="CreateTask">
            <wsdl:input message="tns:CreateTaskRequest" name="CreateTaskRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="GetTask">
            <wsdl:input message="tns:GetTaskRequest" name="GetTaskRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="GetUser">
            <wsdl:input message="tns:GetUserRequest" name="GetUserRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="DeleteTask">
            <wsdl:input message="tns:DeleteTaskRequest" name="DeleteTaskRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="CreateUser">
            <wsdl:input message="tns:CreateUserRequest" name="CreateUserRequest">
            </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserPortSoap11" type="tns:UserPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DeleteUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="DeleteUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="GetAllTasks">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetAllTasksRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="CreateTask">
            <soap:operation soapAction=""/>
            <wsdl:input name="CreateTaskRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="GetTask">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetTaskRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="GetUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="DeleteTask">
            <soap:operation soapAction=""/>
            <wsdl:input name="DeleteTaskRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="CreateUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="CreateUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserPortService">
        <wsdl:port binding="tns:UserPortSoap11" name="UserPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>